.container{
    padding: 30px 14% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    text-align: center;
}

.container a {
    text-decoration: none;
    color: #9e9e9e;
}
.container-box{
    padding:  43px 43px 43px 43px;
    background-color: #212121;
    border-radius: 3rem;
}
.container-box img {
    width: 100%;
    max-width: 50px;
    height: auto;
}

.container-box h3{
    font-size: 21px;
    font-weight: bold;
    margin: 16px 0;
}
.container-box p{
    color: #9e9e9e;
    font-size: var(--p-font);
    letter-spacing: 1px;
    transition: all .50s ease;
}
.container-box p:hover{
    color: #ff9f0d;
}