header{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 14%;
    transition: all .50s ease;
}

.logo {
    display: flex;
    margin-top: 15px;
}

.navlist{
    display: flex;
}
.navlist a{
    text-decoration: none;
    color: #fff;
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 30px;
    transition: all .50s ease;
}
.navlist a:hover{
    color: #ff9f0d;
}
.navlist a.active{
    color: #ff9f0d;
}

.nav-icons{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background: #ff9f0d;
    border-radius: 3rem;
    box-shadow: #ff9f0d 0px 1px 25px;
}

.nav-icons i{
    vertical-align: middle;
    font-size: 25px;
    color: #111111;
    margin-right: 8px;
    margin-left: 5px;
    transition: all .50s ease;
}

.nav-icons i:hover{
    transform: scale(1.1);
    color: #fff;
}

#menu-icon{
    font-size: 32px;
    color: #111111;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
