.page-wrapper {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    font-size: 40px;
}
.page-wrapper > .page-container >.content {
    width: 100%;
}

.page-wrapperr > .page-container > .content p {
    letter-spacing: 1px;
    line-height: 30px;
}